html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "MicroSoft YaHei";
}

.bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
}

a {
  color: #6cf;
  text-decoration: underline;
}

.list {
  height: 100%;
  padding: 7.14285714px;
  overflow: auto;
  position: relative;
}
.list .center-page {
  max-width: 1100px;
  margin: 0 auto;
}
.list .page {
  position: relative;
}
.list .type-pnl {
  left: 0;
  top: 30%;
  z-index: 2;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
}
.list .type-pnl .type-list li {
  width: 75px;
  height: 100%;
  margin: 7.14285714px;
  background-color: #66ccff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list .type-pnl .type-list li:hover,
.list .type-pnl .type-list li.active {
  background-color: #0088cc;
}
.list .main .list-container {
  display: flex;
  flex-direction: column;
}
.list .main .list-container > li {
  min-height: 50px;
  margin-top: 7.14285714px;
  padding: 7.14285714px;
  color: #fff;
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: background 200ms;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.list .main .list-container > li span {
  margin: 7.14285714px;
}
.list .main .list-container > li .type {
  top: -25px;
  left: -25px;
  width: 50px;
  height: 50px;
  margin: 0;
  font-size: 12px;
  color: #333;
  background-color: #ddd;
  transform: rotate(-45deg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
}
.list .main .list-container > li .type.good {
  color: #fff;
  background-color: #66ccff;
}
.list .main .list-container > li .face {
  max-width: 100px;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.list .main .list-container > li .face img {
  width: 50px;
}
.list .main .list-container > li:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.list .main .load-more {
  display: flex;
  margin: 7.14285714px 0;
  justify-content: center;
}
.list .main .load-more .prev,
.list .main .load-more .next {
  width: 200px;
  height: 50px;
  margin: 0 7.14285714px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list .main .load-more .prev:hover,
.list .main .load-more .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
@media screen and (max-width: 1314.28571429px) {
  .list .type-pnl {
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .list .type-pnl .type-list {
    display: flex;
  }
  .list .main {
    margin-top: 33.33333333px;
  }
}
